html {
    box-sizing: border-box;  
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F8F1E2;

}

footer {
    background-color: black;
    color: white;
    width: 100%;
}

/* ALl buttons have blue background and white text */
button {
    background-color: blue;
    color: white;
    /* padding: 0px 10px; */
    border: none;
    /* border-radius: 7px; */
    font-size: 1em;
    padding: 2 1em;
    border-radius: 0.2em;

}

nav {
    background-color: white;
     margin: 0;
    padding: 1%;
    width: 100%; 
    }


ul {
        display:block;
        width:100%;
        margin:0;
        padding:0;
        text-align:right;
    }

 ul li {
        display:inline-block;
    }


li a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px 6px;
 }
 


.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

img {
    width: 65%;
    padding: 1em;
  
   
}


h2 {
    
    font-weight: 400;
    text-decoration-line: underline;
}

h1    {
        text-align: center;
        font-weight: 500;
        font-size: 1.7em;

}


h3 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2em;

}

table {
    width: 100%;
  }

thead {
    text-align: center;
}

td {
    text-align: center;
  }

#container {
    background-color: white;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #003049;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

/* block level elements - div container */
#container div {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

footer ul {
        width:100%;
        margin:0;
        padding: 40px;
        text-align:left;
       
     
}

#icon {
    float: left;
    width: 10%;
}

.top_nav_uppercase {
    text-transform: uppercase;
     
}

.row_list {
    list-style-type: none;
    font-weight: 400;
    font-size: .9em;
}